extends layout

block content
    .container.mt-5
        h1 Add Employee

        form(action='/employee/add', method='POST')
            .mb-3
                label(for='username', class='form-label') Username:
                input(type='text', name='username', class='form-control', required=true)

            .mb-3
                label(for='email', class='form-label') Email:
                input(type='email', name='email', class='form-control', required=true)

            .mb-3
                label(for='activityStatus', class='form-label') Activity Status:
                input(type='text', name='activityStatus', class='form-control', required=true)


            .mt-3
                button.btn.btn-primary(type='submit') Add Employee
