extends layout

block content
  div.container.mt-5
    h1.text-center Asset Category Master
    a.btn.btn-primary.mb-3(href='/asset_category/add') Add Asset Category

    table.table.table-bordered
      thead
        tr
          th Name
          th Actions
      tbody
        each assetCategory in assetCategories
          tr
            td= assetCategory.name
            td
              a.btn.btn-warning(href=`/asset_category/${assetCategory.id}/edit`) Edit
