extends layout

block content
  div.container.mt-5
    h1.text-center Edit Asset Category
    form(action=`/asset_category/${assetCategory.id}/edit`, method='POST')
      div.form-group
        label(for='name') Name:
        input.form-control(type='text', name='name', value=assetCategory.name, required=true)
      button.btn.btn-primary(type='submit') Save Changes
