html
  head
    title Asset Management System
    style
      include ../Bootstrap/css/bootstrap.min.css
      include ../Bootstrap/css/custom.css
    script
      include ../Bootstrap/js/bootstrap.bundle.min.js
  body
    header
      div.top-right-corner
        form(action='/logout', method='get')
          button.btn.btn-danger(type='submit') Logout

    block content

    footer.fixed-bottom.fixed-end.text-right.small
      h5.mb-0 Asset Management System
