html
  head
    title Asset Management System
    style
      include ../Bootstrap/css/bootstrap.min.css
      include ../Bootstrap/css/custom.css
    script
      include ../Bootstrap/js/bootstrap.bundle.min.js
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
  body
    .login-page.bg-light
      .container
        .row
          .col-lg-10.offset-lg-1
            .bg-white.shadow.rounded
              .row
                .col-md-7.pe-0
                  .form-left.h-100.py-5.px-5
                    form(action="/login", method="post", class="row g-4 needs-validation", novalidate="")
                      .col-12
                        .input-group.mb-3
                          span.input-group-text @
                          .form-floating
                            input#floatingInputGroup1.form-control(type='text' name='username' placeholder='Username' required)
                            label(for='username') Username
                          .invalid-feedback
                            | Please enter a valid username.
                      .col-12
                        .input-group.mb-3
                          span.input-group-text **
                          .form-floating
                            input#floatingInputGroup1.form-control(type='password' name='password' placeholder='Password' required)
                            label(for='password') Password
                          .invalid-feedback
                            | Please enter a valid password.
                      .col-sm-6
                        .form-check
                          input.form-check-input(type="checkbox", id="inlineFormCheck")
                          label.form-check-label(for="inlineFormCheck") Remember me
                      .col-sm-6
                        a.float-end.text-primary(href="#") Forgot Password?
                      .col-12
                        button.btn.btn-primary.px-4.float-end.mt-4(type="submit") Login
                .col-md-5.ps-0.d-none.d-md-block
                  .form-right.h-100.bg-primary.text-white.text-center.pt-5
                    i.bi.bi-bootstrap
                    h2.fs-1 Welcome Back!!!
                    br
                    br
                    h1.fs-2.text-dark Asset
                    h1.fs-3.text-dark Management System

